
<p>Argumento de entrada: <%= argv %></p>
<p>Nombre de la plataforma: <%= name%> </p>
<p>Version de node.js: <%= version %></p>
<p>Memoria total reservada(rss): <%= rss%></p>
<p>Path de ejecucion: <%= path%></p>
<p>Process id: <%= pid%></p>
<p>Carpeta del proyecto: <%= folder%></p>